.example-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Adjust the width based on your preference */
  margin: auto; /* Center the box horizontally */
}

.mat-table {
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.mat-paginator {
  align-self: center;
  margin-top: 20px;
}

th.mat-header-cell, td.mat-cell {
  padding: 10px;
  text-align: left;
}

th.mat-header-cell {
  background-color: #f2f2f2;
}

td.mat-cell:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.example-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values based on your preference */
}

.mat-elevation-z8 {
  /* If mat-elevation-z8 is not providing enough shadow, you can adjust it here */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Add this to your component's style file or global stylesheet */
.hover-effect:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
  cursor: pointer;
}

