<div class="example-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
  
      <!-- Message Type Column -->
      <ng-container matColumnDef="messageType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message Type</th>
        <td mat-cell *matCellDef="let row">{{ row.messageType }}</td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>
  
      <!-- Created On Column -->
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
        <td mat-cell *matCellDef="let row">{{ row.createdOn }}</td>
      </ng-container>
  
      <!-- Updated On Column -->
      <ng-container matColumnDef="updatedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated On</th>
        <td mat-cell *matCellDef="let row">{{ row.updatedOn }}</td>
      </ng-container>
  
      <!-- Message Column -->
      <!-- <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
        <td mat-cell *matCellDef="let row">{{ row.message }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[25,50,100,125]" showFirst></mat-paginator>
  </div>
  